**/__pycache__
.git
.gitignore
.tox
**/.coverage
**/.coverage.*
**/.cache
.pytest_cache
.pyenv*
venv
.eggs
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
nosetests.xml
coverage.xml
*.log
grafana
tests
README.md
Jenkinsfile
setup.cfg
Makefile
*.example
docker-compose*.yml
docker_build_helper.py
/*.env
/*.args
./.idea
/local_backend
/dags
Dockerfile
**/*.dockerignore
**/*.gitignore